div{
    transition: all 2s;
    transform:translate(-50%);
    box-sizing: border-box;
    background-origin: border-box;
    transform:translateX(100px);
    -webkit-animation:move 0.1 linear;
            animation:move 0.1 linear;
    -webkit-animation:leave 5s linear;
            animation:leave 5s linear;
    box-shadow:10px 10px #000;
    -webkit-animation:get 3s linear;
            animation:get 3s linear;
    animation:get 3s linear;
    animation:get 3s linear;
    -webkit-animation:drop 2s linear 0.5s;
            animation:drop 2s linear 0.5s;
    transform: inherit;
}